/* Brown: #964B00
Beige: #F5F5DC
Green: #008000
Neutral colors:
Gray: #808080
Black: #000000
White: #FFFFFF
Accent colors:
Red: #FF0000
Orange: #FFA500
Blue: #0000FF
 */


/* nav */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.just-color.visible {
    display: block;
     background-color: rgba(42, 45, 48, 0.7); 
}

.just-color{
   
    background-color: #343a40;
    display: block;
    /* set a fixed position and top value to keep the navbar at the top of the page */
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header{
    margin: auto;
    max-width: 1000px;
    border-bottom: dashed rgb(119, 117, 117) 1px;
    z-index: 1000;
    position: sticky;
    top: 0;
}

li{
    list-style: none;
}

.navLogo{
    width: 250px;
} 

.navbar{
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /*  padding: 0 25px; */
    position: sticky;
    top: 0px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    margin: 0;
}

.nav-branding{
    font-size: 2rem;
}


.nav-link{
    transition: 0.8s;
    text-decoration: none;
    color: #edede9 ;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.callAsBtnNav{
    border: none;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover  {
    background-color: #d9d9d9;
    color: #161616;
    padding: 3px 7px;
    border-radius: 3px;
}

.hamburger{
    display: none;
    cursor: pointer;
}


/* inputRang*/

#inputRage {
   position: fixed;
   top: 80px;
   z-index: 1000;
   width: 0;
   height: 0;
   background-color: #588157;
}



/* main */

.headOfMain{
    position: relative;
    background-image: url(phots/background\ new.jpg);
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* filter: brightness(90%); */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 93%);
}

.headOfMain div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0,0.3);
    height: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 93%);
}

.headOfMain div div{
   padding: 25px;
} 

.button-contact{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #808080;
    width: fit-content;
    border: none;

}

/* title */

.title{
   max-width: 1000px;
   margin: 0 auto;
   padding: 20px;
}

.justLine{
    width: 150px;
    height: 5px;
    background-color: #343a40;
    border-radius: 10px;
}

.title h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px auto;
}

.title p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px auto;
    font-size: 20px;
}

/* phoneIcone */
.phoneIcone{
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;

    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;

}

/* ulOfDiscribshinPoint
 */

.ulOfDiscribshinPoint{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
} 

.ulOfDiscribshinPoint li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

.ulOfDiscribshinPoint li i{
   margin: 0;
   color: red;
   font-size: 30px;
}

.ulOfDiscribshinPoint li p{ 
    margin: 0;
    font-size: 20px;
    padding: 10px;
}


/* imagesilder */


.imageSilder{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
   /*  background-color: rgb(0, 0, 0,0.2);*/
} 

.wrapper {
  display: flex;
  grid-gap: 1rem;
  /* max-width: 1000px; */
  width: 100%;
  overflow-x: auto; /*  scroll-snap-type: x; */
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; /* for firefox */
  padding: 20px;
  background-color: #343a40;
  border-radius: 20px;
  padding: 50px;
  
}

.wrapper::-webkit-scrollbar { /* for chrome */
   display: none; 

}

.slider {
  min-width: 400px;
  height: 250px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  scroll-snap-align: start;
  user-select: none;
  margin:auto 50px;
  border-radius: 10px;
}


/* openImage */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#myImg:hover {opacity: 0.7;}
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  .modal-content {
    display: flex;
    margin: 70px auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 75px;
    right: 25px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  

/* aboutAsWithPhotos */

.aboutAsWithPhotos{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(#808080, #343a40);
    -webkit-clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    padding: 20px;
}

.aboutAsWithPhotos div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.aboutAsWithPhotos div h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 50px;
}


.aboutAsWithPhotos div i{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100px;
    height: 100px;
    font-size: 50px;
 }







 /* deal */

 .deal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px auto;
    max-width: 1000px;

 }

 .deal div h2{
    padding: 5px;
    font-weight: bolder;
    margin: 10px auto;
 }

 .deal div div img{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px auto;
 }  

.deal div div{
    margin: 10px auto;
 }

.deal div p {
    text-align: center;
    font-size: 22px;
    padding: 20px;    

 }

.callAsBtn{
    border: none;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* mtbhEli */

.mtbhEli{
    margin: 60px auto;
    display:flex;
    align-items: center;
    gap: 20px;
}

.mtbhEli {
    margin: 60px auto;
    display:flex;
    align-items: center;
    gap: 20px;
}

.mtbhEli div img{
    width: 40vw;
    min-width: 350px;
}
.mtbhEli div div{
   margin-right: 10px;
   margin: 10px 10px 0px;
}

.mtbhEli div h1{
  font-size: 40px;
  padding: 10px;
}

.mtbhEli div p{
    font-size: 20px;
    padding: 10px;
}




/* footer */

#footer{
    margin-top: 100px;
    background-color:  #343a40;
    color: white;
}


.footerTitle h3{
    padding: 20px ;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.callAsOp{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.callAsOp a{
    text-decoration: none;
}

.callAsOp a div{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   color: white;
   background-color: #588157;
   height: 100px;
   width: 350px;
   border-radius: 4px;
}

.callAsOp a div i{
    font-size: 30px;
}

.map{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto 0 auto;
    padding: 10px;
    max-width: 1000px;
}

.copyright{
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    
    
    .hamburger{
            display: block;
            font-size: 30px;
            margin: 10px;
    }
    
    .navbar{
        justify-content: space-between;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        height: 100vh;
        gap: 20px;
        flex-direction: column;
        background-color: #343a40;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        justify-content: start;
        padding: 60px;

    }

    .nav-link{
        font-size: 30px;
    }

    .callAsBtnNav{
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 35px;
    }
    .nav-menu.active{
        left: 0;
    }
    .navLogo{
        width: 150px;
        margin: 10px;
    } 

    .title p{
        font-size: 18px;
    }
    

    .ulOfDiscribshinPoint li i{
       font-size: 20px;
    }
    
    .ulOfDiscribshinPoint li p{ 
        font-size: 20px;
    }



    /* imagesilder */
   /*  .carousel-item img {
        display: block; 
        max-width: 100%; 
        max-height: 100px;
        height: auto; 
    }
 */
    .slider {
       /*  width: calc(100% - .5rem);  */
        aspect-ratio: 1 / 1;
        display: flex;
        min-width: 250px;
        max-width: 250px;
        height: auto;
        max-height: 150px; 
        justify-content: center;
        align-items: center;
        color: #fff;
        scroll-snap-align: start;
        user-select: none;
        margin:0; 
        border-radius: 10px;
    }


      /* mtbhEli */

    .mtbhEli{
        margin: 40px auto;
        flex-direction: column-reverse;
    }

    .mtbhEli {
        margin: 30px auto;
    }

    .mtbhEli div img{
        width: 80vw;
        min-width: 250px;
    }


    .mtbhEli div h1{
        font-size: 30px;
        padding: 10px;
    }

    .mtbhEli div p{
        font-size: 17px;
        padding: 15px;
    }
    
    /* callusfooter */
    .callAsOp a div{
      
        height: 100px;
        width: 250px;
        border-radius: 4px;
     }
     
     .callAsOp a div i{
         font-size: 20px;
     }
}


@media only screen and (max-width: 400px) {
    
    

    .title p{
        font-size: 16px;
    }
    

}